age: age in years

sex:
- 1: male
- 0:female)

cp: chest pain type
- 0: asymptomatic
- 1: atypical angina
- 2: non-anginal pain
- 3: typical angina

trestbps: resting blood pressure

chol: serum cholestoral in mg/dl

fbs: fasting blood sugar > 120 mg/dl

restecg: resting electrocardiographic results
- 0: showing probable or definite left ventricular hypertrophy by Estes' criteria
- 1: normal
- 2: having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV)

thalach: maximum heart rate achieved

exang: exercise induced angina 

oldpeak: ST depression induced by exercise relative to rest

slope: the slope of the peak exercise ST segment
- 1: upsloping
- 2: flat
- 3: downsloping

ca: number of major vessels (0-3) colored by flourosopy

thal:
- 3 : fixed defect
- 6 : normal
- 7 : reversable defect

disease:
- 0: disease
- 1: no disease

In [1]:
import os
import pandas as pd

In [4]:
hdisease = pd.read_csv(os.path.join('data', 'processed.cleveland.data'))

In [14]:
hdisease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
1,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
2,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
3,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
4,56.0,1.0,2.0,120.0,236.0,0.0,0.0,178.0,0.0,0.8,1.0,0.0,3.0,0

In [12]:
columns = {
    '63.0' : 'age',
    '1.0' : 'sex',
    '1.0.1' : 'cp',
    '145.0' : 'trestbps',
    '233.0' : 'chol',
    '1.0.2' : 'fbs',
    '2.0' : 'restecg',
    '150.0' : 'thalach',
    '0.0' : 'exang',
    '2.3' : 'oldpeak',
    '3.0' : 'slope',
    '0.0.1' : 'ca',
    '6.0' : 'thal',
    '0' : 'disease'
}
hdisease.rename(columns=columns, inplace=True)

In [15]:
hdisease['fbs'].unique()

array([0., 1.])